<%= render partial: "users/friend_class_leftbar", locals: {section: 'groups'} %>
<div class=friends_list>
<h1> "<%= @collection.name %>" group members</h1>

<%= render :partial=>"users/row", :collection=> @memberships or
  "This group has no members"
%>
</div>
<br clear=both>
 link_to('Remove',{action: :destroy,id: m.id}, 
	  { :confirm=> 'Remove this user?', :method=> :delete })

