<h1>Sign in</h1>

<p><b>Too many stupid passwords to remember for too many stupid web
sites?</b> If you've already abdicated your internet identity to any
of the major contenders for Supreme Overlord, you can login here using
whichever one it is.

<p>Or failing that there's always OpenID, for anyone who actually
  knows how to use it.  Stop laughing at the back there

<ul style="list-style: none">
<li>
<a href="/auth/twitter">
twitter
</a></li>
<li>
<a href="/auth/facebook">
facebook
</a>
</li>
<li>
<a href="/auth/google">
Sign in with Google
</a>
</li>
<li>
<a href="/auth/yahoo">
Sign in with Yahoo!
</a>
</li>
</ul>


