<h1>Sign in</h1>

<p>We have <i>both</i> kinds of authentication - Twitter and Facebook</p>

<ul style="list-style: none">
<li>
<a href="/auth/twitter">
<%= image_tag "sign-in-with-twitter-l.png" %>
</a></li>
<li>
<a href="/auth/facebook">
<%= image_tag "connect_with_facebook.gif" %>
</a>
</li>
</ul>


