<div class=row>
  <span class=avatar> <%= row.avatar and image_tag(row.avatar) %> </span>
  <span class=name>
    <span class=nick><%= row.nickname %></span><br>
    <span class=full><%= row.fullname %> </span>
  </span>
  <span class=actions>
    <%= actions_dropdown row.actions %>
  </span>
</div>
