<%= render partial: "friend_class_leftbar", locals: {section: 'following'} %>
<div class=friends_list>
<h1>  <%= @user.fullname %> is following</h1>
<%= render :partial=>"row", :collection=> @following or
  "This user is not following anyone"
%>
</div>
