<%= render partial: 'profile_header', locals: {section: 'following'} %>
<div class=profile_body>
<%= render :partial=>"row", :collection=> @following or
  "This user is not following anyone"
%>
</div>
