<%= render partial: 'profile_header', locals: {section: 'followers'} %>
<div class=profile_body>

<%= render :partial=>"row", :collection=> @followers or
  "This user has no followers (yet?)"
%>
</div>
