<article>
  <h1>booksh.lv - lend your friends books that they'll like</h1>
<p>Do your friends ask you for book recommendations?
<p>Do you lend books to people and forget where they are?

<p>booksh.lv stops you from losing track of your books <i>and</i> from 
losing your friends
<ul>
<li> Use a barcode reader to scan your books in - it finds
  author,title, publisher and sometimes cover art automatically 
</li>
<li> Write comments and reviews on books you own and books your
  friends have added</li>
<li> Assign them to shelves ("downstairs/living room/behind tv/1") 
  so you can find them again
<li> Sort them into collections ("public", "private", "reference")
  so you control who gets to see what
<li> Lend them to friends by clicking on a button and picking
  from a list 
</ul>

</p>

<p>booksh.lv is - until we run out of money - free to join and free to
use while you decide whether you like it.  Forthcoming features once
the site is finished and launched will include the opportunity to 
<%= link_to "send me some cash", { action: :subscribe } %> 

<p>To get started
<ul>
  <li><a href="/auth/twitter">Sign in with Twitter</a>
  <li><a href="/auth/facebook">Connect with Facebook</a>
</li></ul>

</article>
