<article>
  <h1>booksh.lv - for people who like paper</h1>
<p>Do you borrow books from people and forget you've got them?
<p>Do you lend book to friends and forget where they are?

<p>booksh.lv has the answer -
<ul>
<li> Use a barcode reader to scan your books in - it finds
  author,title, publisher and sometimes cover art automatically 
</li>
<li> Assign them to shelves ("downstairs/living room/behind tv/1") 
  so you can find them again
<li> Sort them into collections ("public", "private", "reference")
  so you control who gets to see what
<li> Lend them to friends by clicking on a button and picking
  from a list 
<li> Browse your friends' books and see what you would like to borrow.
<span class=small>This requires that your friends are using
  booksh.lv, of course.  Invite them!</span>
</li></ul>

</p>

<p>booksh.lv is free to join and free to use for while you decide
whether you like it.  If you decide to stay, an 
<%= link_to "annual subscription", { action: :subscribe } %>
gives you certain extra privileges for the low low price of £8.99 a
year.

<p>To get started
<ul>
  <li><a href="/auth/twitter">Sign in with Twitter</a>
  <li><a href="/auth/facebook">Connect with Facebook</a>
</li></ul>

</article>
