<article>
  <h1>Subscriptions</h1>

<div class="flash flash_notice">
booksh.lv is currently entirely free to use while it is in beta.  We
expect to start accepting money when we launch properly, probably
early 2013 - we'll contact you and let you know when that happens
</div>

<p>Basic use of booksh.lv is free for as long as it takes you to
  evaluate it.  But if you like it, why not buy a subscription?  An
  annual subscription - <i>coming soon</i> - costs only £8.99 - the same price as a paperback
  edition of John Brunner's 'Stand on Zanzibar'.  Your money:

<ul>
<li> helps ensure that the site continues to be developed, and doesn't go
off air due to hosting costs.

<li> lets you escape the idle account purges.  Free accounts are deleted
periodically if they look inactive or if it becomes uneconomic to
retain them.  If you've bought a subscription, your data is safer.

<li> puts a big golden star on your profile page so the world can see
you're fully paid up
</ul>

<p>Please note that the developer already has a copy of John Brunner's
'Stand on Zanzibar' and doesn't really need another.  Cash or
negotiable instruments preferred.
