<%= render partial: "users/friend_class_leftbar", locals: {section:
    'links'} %>
<div class=friends_list>

  <h1>Links for <%= link_to @user.name, @user %></h1>

  <ul>
    <% @user.links.each do |l| %>
    <li><%= link_to l.title,l.url %>
      <%= d=l.description and content_tag(:blockquote,d) %>
    </li>
    <% end %>
  </ul>
</div>

