<div class="story">
  <div class=dateline><%= l(story.created_at) %></div>
<%= link_to story.actor.name,story.actor %> is now following
<%= link_to story.recipient.name,story.recipient %> 
<br clear=both>
</div>

