
@mixin dark-blue-background {
    background: rgb(72,61,104); /* Old browsers */
    background: -moz-linear-gradient(45deg, rgba(72,61,104,1) 0%, rgba(79,84,135,1) 26%, rgba(63,76,107,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(72,61,104,1)), color-stop(26%,rgba(79,84,135,1)), color-stop(100%,rgba(63,76,107,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg, rgba(72,61,104,1) 0%,rgba(79,84,135,1) 26%,rgba(63,76,107,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg, rgba(72,61,104,1) 0%,rgba(79,84,135,1) 26%,rgba(63,76,107,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg, rgba(72,61,104,1) 0%,rgba(79,84,135,1) 26%,rgba(63,76,107,1) 100%); /* IE10+ */
    background: linear-gradient(45deg, rgba(72,61,104,1) 0%,rgba(79,84,135,1) 26%,rgba(63,76,107,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#483d68', endColorstr='#3f4c6b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

@mixin pale-blue-background {
    background-color: #ddf;
}
@mixin pale-blue-background-hover {
    background-color: #e8e8ff;
}

@mixin light-grey-background {
    background: #b5b5b5; /* Old browsers */
    background: -moz-linear-gradient(45deg, #b5b5b5 0%, #adadad 50%, #94a89a 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#b5b5b5), color-stop(50%,#adadad), color-stop(100%,#94a89a)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg, #b5b5b5 0%,#adadad 50%,#94a89a 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg, #b5b5b5 0%,#adadad 50%,#94a89a 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg, #b5b5b5 0%,#adadad 50%,#94a89a 100%); /* IE10+ */
    background: linear-gradient(45deg, #b5b5b5 0%,#adadad 50%,#94a89a 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5b5b5', endColorstr='#94a89a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    
}
