
@mixin dark-blue-background {
    background: rgb(72,61,104); /* Old browsers */
    @include b-linear-gradient((45deg, rgba(72,61,104,1) 0%, rgba(79,84,165,1) 21%, rgba(63,76,107,1) 100%)); 
}

@mixin pale-blue-background {
    background-color: #ddf;
}
@mixin pale-blue-background-hover {
    background-color: #e8e8ff;
}

@mixin light-grey-background {
    @include b-linear-gradient((45deg, #b5b5b5 0%, #adadad 50%, #94a89a 100%));
    background: #b5b5b5; /* Old browsers */
}

@mixin field-error-background {
    background-color: #ebb;
}

$off_white: #eed;

$border_color: #888;
