@import "colors";
@import "fonts";

div#friend_class_leftbar {
    vertical-align: top;
    padding-right: 2em;
    display: inline-block;
    ul.classes {
	margin: 0;
	@include display-font;
	li:first-child {
	    border-top-width: 1px;
	}
	li {
	    background-color: #ddd;
	    border: solid #bbb;
	    list-style-type: none;
	    min-height: 50px;
	    border-width: 0 1px 0 0;
	    padding: 10px;
	    a {
		text-decoration: none;
		color: inherit ; 
	    }
	    a:hover {
		text-decoration: underline;
	    }
	}
 	li.selected {
	    border: solid $border_color;
	    background-color: white;
	    border-width: 1px 0 1px 1px;
	}
    }
    ul.groups {
	padding: 10px 0 5px 15px;
	
	@include body-font;
	li {
	    background-color: inherit;
	    vertical-align: bottom;
	    padding: 0px;
	    height: 30px;
	    min-height: 30px;
	    border: 0;
	}
    }
}
div.friends_list {
    display: inline-block;
    vertical-align: top;
    h1 {
	display: inline;
	@include display-font;
	margin: 0; padding: 0;
    }
    h1:after {
	content: '\A\A'; white-space: pre;
	height: 8px;
    }
    .row {
	.avatar {
	    display: inline-block;
	    min-width: 64px;
	    img {
		padding: 3px;

		margin: 2px 2px 2px 2px;
	    }
	}
	.name {
	    display: inline-block;
	    min-width: 320px;
	    .nick {
		font-size: 110%;
		font-weight: dark;
	    }
	}
	.actions {
	    display: inline-block;
	    margin: 2px;
	}
    }
}