/* -*- css -*- mode please */
@import "includes.css.scss";
@import "colors";
@import "fonts";
@import "gradients";

body {
    @include body-font;
    line-height: 120%;
}
header {
    @include dark-blue-background;
    
    border: 0px; margin: 0px; 
    color: white;
    min-height: 70px;
    a,a:visited {
        color: #ddf;
        text-decoration: none;
    }
    #logo {
        position: absolute;
        left: 45px; top: 15px;
        font-family: 'Terminal Dosis', sans-serif;
        font-weight: 600;
        font-size: 28pt;
        text-shadow:  #888 2px 2px 1px;
    }
    #tagline {
	font-size: 12px;
        position: absolute;
	#translated {
	    display: none;
	} 
	text-shadow: 1px 1px 1px #0C0D0D;
        left: 42px; top: 51px;
	position: relative;
    }
    #tagline:hover #translated {
	display: block;
	position: absolute;
	border-radius: 4px;
	padding: 4px;
	background-color: #ffd;
	background: -moz-linear-gradient(45deg, #ffd 0%, #fff 50%, #ffd 100%);
	text-shadow: none;
	color: #444;
	left: 6px; 
	border: 1px solid #444;
    }
        
    #session {
        position: absolute;
        right: 2em; top: 5px;
	font-size: 13px;
        font-weight: 600;    
        z-index: 1;
        ul {
            display: inline;
            li {
                display: inline;
            }
            li + li:before {
                content: ".";
                padding-right: 0.5em;
                
            }
        }
    }
    #search {
        position: absolute;
        font-size: 18pt;
        left: 300px; top: 18px;
        form input[type=text] {
            width: 25em;
            height: 18px;
            placeholder: "Find book, author, person"
        }
    }
}
nav {
    margin-top: 70px;
    border-bottom: black 2px solid;
    ul {
        display: inline;
        li {
            display: inline-block;
	    padding: 8px 1em;
	    background: $racing_green_color;
	    -moz-border-radius: 10px 10px 0 0;
	    margin-right: 8px;
	    position: relative;
	    border-style-bottom: solid 2px;
	    top: 2px;
	    z-index: 0;
        }
	li.selected {
	    background: $off_white;
	    padding-bottom: 10px;
	    top: 2px;
	    border-style: solid;
	    border-color: black;
	    border-style-bottom: none;
	    border-width: 2px 2px 0 2px;	
	    a {
		color: black;
	    }
	    z-index: 1;
	}
    }
}

article {
    h1,h2,h3,h4 {
        font-weight: bold;
    }
    h1 { 
        font-size: 150%; margin-top: 1em; margin-bottom: 1em; 
        text-shadow: #ddd 1px 1px 0px;
    }
         
    h2 { font-size: 130%; margin-top: 1em; margin-bottom: 0.5em; }
    h3 { font-size: 110%; }
    
    @include body-font;
    margin: 1em;

    ul {
	li {
	    list-style-type: disc;
	}
    }
}

footer {
    text-align: center;
    color: white;
    font-size: 12px;
    padding: 1em;
    bottom: 0; 
    width: 100%; // height: 2em;
    display: block;
    @include light-grey-background;
}
