/* -*- css -*- mode please */
@import "includes.css.scss";
@import "colors";

body {
    font-family: 'Varela Round', sans-serif;
    line-height: 120%;
}
header {
    @include dark-blue-background;
    
    border: 0px; margin: 0px; 
    color: white;
    height: 70px;
    a,a:visited {
        color: #ddf;
        text-decoration: none;
    }
    #logo {
        position: absolute;
        left: 40px; top: 6px;
        font-family: 'Terminal Dosis', sans-serif;
        font-weight: 600;
        font-size: 28pt;
        text-shadow:  #888 2px 2px 1px;
    }
    #tagline {
	font-size: 9pt;
        position: absolute;
	#translated {
	    display: none;
	}
        left: 42px; top: 51px;
    }
        
    #session {
        position: absolute;
        right: 2em; top: 5px;
        font-weight: bold;    
        z-index: 1;
        ul {
            display: inline;
            li {
                display: inline;
            }
            li + li:before {
                content: "|";
                padding-right: 0.5em;
                
            }
        }
    }
    #search {
        position: absolute;
        font-size: 18pt;
        left: 11em; top: 15px;
        form input[type=text] {
            width: 25em;
            height: 18px;
            placeholder: "Find book, author, person"
        }
    }
}

article {
    h1,h2,h3,h4 {
        font-weight: bold;
    }
    h1 { 
        font-size: 150%; margin-top: 1em; margin-bottom: 1em; 
        text-shadow: #ddd 1px 1px 0px;
    }
         
    h2 { font-size: 130%; margin-top: 1em; margin-bottom: 0.5em; }
    h3 { font-size: 110%; }
    
    font-family: 'Varela Round', sans-serif;
    font-size: 11pt;
    margin: 1em;
    color: #444;
}

footer {
    text-align: center;
    color: white;
    font-size: 12px;
    margin-top: 2em;
    padding: 1em;
    bottom: 0; 
    width: 100%; // height: 2em;
    display: block;
    @include light-grey-background;
}
