table.manager {
    tr {
	background: -moz-linear-gradient(top, 
					 #d8d8d8 0%, 
					 #e8e8d8 40%, 
					 #e8e8d8 60%, 
					 #d8d8d8 100%); 
	border: 1px #e8e8e8 solid;
    }    
    tr.header {
	background: #ccc;
	font-weight: bold;
    }
    th {
	text-align: left;
    }
}
