@import "colors";
@import "fonts";

div#profile_leftbar {
    vertical-align: top;
    padding-right: 2em;
    display: inline-block;
    ul.classes {
	margin: 0;
	@include display-font;
	li:first-child {
	    border-top-width: 1px;
	}
	li {
	    background-color: #ddd;
	    border: solid #bbb;
	    list-style-type: none;
	    min-height: 50px;
	    border-width: 0 1px 0 0;
	    padding: 10px;
	    a {
		text-decoration: none;
		color: inherit ; 
	    }
	    a:hover {
		text-decoration: underline;
	    }
	}
 	li.selected {
	    border: solid $border_color;
	    background-color: white;
	    border-width: 1px 0 1px 1px;
	}
    }
    ul.groups {
	padding: 10px 0 5px 15px;
	
	@include body-font;
	li {
	    background-color: inherit;
	    vertical-align: bottom;
	    padding: 0px;
	    height: 30px;
	    min-height: 30px;
	    border: 0;
	}
    }
}
div.profile_body {
    display: inline-block;
    vertical-align: top;
    .row {
	margin-bottom: 6px;
	border-bottom: 1px #ddd solid;
    }
    h1 {
	display: inline;
	@include display-font;
	margin: 0; padding: 0;
    }
    h1:after {
	content: '\A\A'; white-space: pre;
	height: 8px;
    }
    .row {
	.avatar {
	    display: inline-block;
	    min-width: 64px;
	}
	.name {
	    vertical-align: top;
	    display: inline-block;
	    min-width: 320px;
	    .nick {
		margin-top: 3px;
		font-size: 110%;
		font-weight: dark;
	    }
	}
	.actions {
	    vertical-align: top;
	    display: inline-block;
	    margin: 2px;
	}
    }
}

h1 {
    background-color: #aae;
    div.fullname {
	margin-top: 3px;
	font-size: 70%
    }
    padding: 6px;
    margin-bottom: -10pt; // reduce bottom margin to bring action buttons closer
    position: relative;
    img {
	width: 90px;
	position: absolute;
	top: 4px; right: 4px;
	border-color: black;
	border-width: 1px ;
	border-style: grey;
	box-shadow: 3px 3px 7px #888;
    }
}
body[data-action=frequently] {
    div.user {
	display: inline-block;
	float: left; 
	position: relative;
	padding: 3px;
	margin: 6px;
	border-width: 1px;
	border-style: dashed;
	border-color: #888;
	img {
	    width: 100px;
	    opacity: 0.8;
	}
	span.caption {
	    position: absolute;
	    left: 6px; bottom: 6px;
	    font-size: 90%;
	    color: white;
	    text-shadow: 3px 3px 2px black;
	}
    }
    div.user:hover {
	span.caption {
	    color: black;
	    text-shadow: 3px 3px 2px white;
	}
	img {
	    opacity: 1;
	}
    }
}